<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @source_rule.source %>
</p>

<p>
  <strong>Name:</strong>
  <%= @source_rule.name %>
</p>

<p>
  <strong>Action:</strong>
  <%= @source_rule.action %>
</p>

<p>
  <strong>Value:</strong>
  <%= @source_rule.value %>
</p>

<%= link_to 'Edit', edit_source_rule_path(@source_rule) %> |
<%= link_to 'Back', source_rules_path %>
