<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @alert.source_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @alert.text %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
